 .u-section-1 {
  background-image: url("images/Flechor1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-group-1 {
  width: 752px;
  min-height: 199px;
  margin: 541px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 10px 10px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 1.125rem;
  width: 499px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 289px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 227px;
    margin-top: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
  }

  .u-section-1 .u-text-2 {
    width: 317px;
    margin-bottom: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 257px;
    margin: 0 0 37px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 170px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: 269px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 363px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 719px;
  margin: 0 auto 0 211px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px 20px 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  width: 547px;
  margin: 14px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 593px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-2 {
    width: 451px;
    position: relative;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-2 .u-text-1 {
    width: 492px;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 345px;
    margin-top: 13px;
    margin-left: 188px;
    margin-right: 188px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 473px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: 375px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin: 10px 0 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 159px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin: 10px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 272px;
    margin-top: 10px;
    margin-bottom: 28px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
} .u-section-3 {
  background-image: url("images/Flechor2.png");
  background-position: 50% 100%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-3 .u-image-1 {
  width: 216px;
  height: 204px;
  margin: 0 457px 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 948px;
  margin: 67px auto 0 96px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 517px;
}

.u-section-3 .u-image-2 {
  margin-top: 42px;
  margin-right: auto;
  margin-left: 0;
  height: 463px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 300px;
}

.u-section-3 .u-image-3 {
  height: 251px;
  margin: 0 auto 20px 0;
}

.u-section-3 .u-image-4 {
  background-image: url("images/77122761_1204981576362938_8322894804882678127_n.jpg");
  min-height: 353px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 19px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/154.jpg");
  min-height: 464px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 429px;
}

.u-section-3 .u-image-6 {
  margin-top: 46px;
  margin-right: auto;
  margin-left: 0;
  height: 374px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-3 .u-image-7 {
  height: 340px;
  margin: 0 auto 27px 0;
}

.u-section-3 .u-group-1 {
  width: 938px;
  min-height: 202px;
  margin: 20px 96px 74px auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    min-height: 340px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 18px;
  }

  .u-section-3 .u-image-5 {
    min-height: 444px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 421px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 363px;
  }

  .u-section-3 .u-image-7 {
    margin-bottom: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-right: 2px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2891px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 379px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-3 .u-image-2 {
    height: 180px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-3 .u-image-3 {
    height: 180px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    min-height: 156px;
  }

  .u-section-3 .u-image-5 {
    min-height: 156px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 174px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
    height: 180px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 329px;
  }

  .u-section-3 .u-image-7 {
    height: 290px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-top: -7px;
    margin-bottom: -1144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 771px;
}

.u-section-4 .u-image-1 {
  height: 883px;
  margin-top: -111px;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 772px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -171px;
    margin-bottom: 60px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 556px;
  }

  .u-section-4 .u-image-1 {
    height: 556px;
    margin-top: 0;
    margin-bottom: -45px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 508px;
  }

  .u-section-4 .u-image-1 {
    height: 497px;
    margin-top: 11px;
    margin-bottom: -263px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 308px;
  }

  .u-section-4 .u-image-1 {
    height: 308px;
    margin-top: 0;
    margin-bottom: -449px;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 116px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: Aerotis;
  margin: 0 auto -122px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-bottom: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 720px;
}

.u-section-6 .u-group-1 {
  width: 200px;
  min-height: 720px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 10px;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 10px 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 930px;
  margin: -720px auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/TORTUGA.jpg");
  min-height: 370px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/119803643_1183080455403317_1058222324944863836_n.jpg");
  min-height: 370px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/pesca.jpeg");
  min-height: 182px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/163.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-5 {
  background-image: url("images/WhatsApp-Image-2021-05-10-at-10.10.34-PM.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-6 {
  background-image: url("images/66697544_163819091330156_475656068520927774_n.jpg");
  min-height: 370px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-7 {
  background-image: url("images/WhatsApp-Image-2021-05-15-at-8.21.58-AM.jpeg");
  min-height: 370px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-6 .u-group-1 {
    min-height: 512px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 730px;
    margin-top: -512px;
  }

  .u-section-6 .u-image-1 {
    min-height: 304px;
  }

  .u-section-6 .u-image-2 {
    min-height: 228px;
  }

  .u-section-6 .u-image-3 {
    min-height: 154px;
  }

  .u-section-6 .u-image-4 {
    min-height: 229px;
  }

  .u-section-6 .u-image-5 {
    min-height: 149px;
  }

  .u-section-6 .u-image-6 {
    min-height: 266px;
  }

  .u-section-6 .u-image-7 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-6 .u-group-1 {
    width: 207px;
    min-height: 378px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 498px;
    margin-top: -378px;
  }

  .u-section-6 .u-image-1 {
    min-height: 171px;
    order: 2;
  }

  .u-section-6 .u-image-2 {
    min-height: 227px;
    order: 0;
  }

  .u-section-6 .u-image-3 {
    min-height: 112px;
    order: 1;
  }

  .u-section-6 .u-image-4 {
    min-height: 115px;
    order: 1;
  }

  .u-section-6 .u-image-5 {
    min-height: 171px;
    order: 0;
  }

  .u-section-6 .u-image-6 {
    min-height: 171px;
  }

  .u-section-6 .u-image-7 {
    min-height: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-6 .u-group-1 {
    width: 220px;
    min-height: 460px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 29px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 9px;
    margin-right: 29px;
    margin-left: 9px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 291px;
  }

  .u-section-6 .u-image-1 {
    min-height: 115px;
  }

  .u-section-6 .u-image-2 {
    min-height: 171px;
    order: 1;
  }

  .u-section-6 .u-image-4 {
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-group-1 {
    min-height: 209px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    width: 262px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 262px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    min-height: 251px;
  }

  .u-section-6 .u-image-5 {
    min-height: 251px;
  }

  .u-section-6 .u-image-6 {
    min-height: 117px;
  }

  .u-section-6 .u-image-7 {
    min-height: 117px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 363px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 719px;
  margin: 0 auto 0 211px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 115px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px 20px 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  width: 547px;
  margin: 14px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 204px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-7 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 204px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-7 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 593px;
    margin-left: 174px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-7 .u-text-2 {
    width: 451px;
    position: relative;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 0.875rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-7 .u-text-1 {
    width: 492px;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 345px;
    margin-top: 13px;
    margin-left: 188px;
    margin-right: 188px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 483px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 473px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 85px;
  }

  .u-section-7 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: 375px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin: 10px 0 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 159px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin: 10px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 272px;
    margin-top: 10px;
    margin-bottom: 28px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}@font-face {
  font-family: 'Aerotis';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Aerotis.ttf);
}