.u-section-1 {
  background-image: none;
  min-height: 1091px;
}

.u-section-1 .u-shape-1 {
  height: 565px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 988px;
  height: 662px;
  object-position: 23.33% 41.98%;
  background-position: 100% 41.98%;
  margin: -387px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 559px;
  min-height: 382px;
  background-image: none;
  margin: -760px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  margin: 288px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 346px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 7px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 7px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 7px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-image-1 {
    width: 842px;
    height: 630px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -728px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 900px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1424px;
  }

  .u-section-1 .u-shape-1 {
    height: 615px;
  }

  .u-section-1 .u-image-1 {
    width: 614px;
    height: 539px;
    margin-top: -385px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 505px;
    min-height: 319px;
    margin-top: -699px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 670px;
    margin-top: 328px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 637px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1855px;
  }

  .u-section-1 .u-image-1 {
    width: 502px;
    height: 474px;
    margin-top: -281px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 469px;
    min-height: 331px;
    margin-top: -738px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-list-1 {
    width: 352px;
    margin-top: 218px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1138px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1907px;
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    height: 331px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 302px;
    min-height: 302px;
    margin-top: -595px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    width: 302px;
    margin-top: 197px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1268px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 8px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 819px;
}

.u-section-2 .u-shape-1 {
  width: 478px;
  height: 478px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1105px;
  margin: -382px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 30px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-2 .u-video-1 {
  min-height: 571px;
}

.u-section-2 .u-container-layout-2 {
  padding: 195px 0 0 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 871px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-2 .u-video-1 {
    min-height: 605px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-2 .u-shape-1 {
    width: 449px;
    height: 449px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 653px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-video-1 {
    min-height: 531px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-shape-1 {
    height: 389px;
    margin-top: 50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 467px;
    margin-top: -979px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-video-1 {
    min-height: 514px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-shape-1 {
    height: 226px;
    width: 256px;
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 303px;
    margin-top: -834px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-video-1 {
    min-height: 290px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-text-1 {
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 105px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 610px;
  background-image: url("images/Cmaya.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 305px;
  background-image: url("images/Cmaya2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 305px;
  background-image: url("images/Cmaya3.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 305px;
  background-image: url("images/Cmaya4.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  min-height: 305px;
  background-image: url("images/Cmaya5.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 503px;
  }

  .u-section-3 .u-image-2 {
    min-height: 251px;
  }

  .u-section-3 .u-image-3 {
    min-height: 251px;
  }

  .u-section-3 .u-image-4 {
    min-height: 251px;
  }

  .u-section-3 .u-image-5 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1883px;
  }

  .u-section-3 .u-image-1 {
    min-height: 771px;
  }

  .u-section-3 .u-image-2 {
    min-height: 385px;
  }

  .u-section-3 .u-image-3 {
    min-height: 385px;
  }

  .u-section-3 .u-image-4 {
    min-height: 385px;
  }

  .u-section-3 .u-image-5 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3200px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2140px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-3 {
    min-height: 364px;
  }

  .u-section-3 .u-image-4 {
    min-height: 364px;
  }

  .u-section-3 .u-image-5 {
    min-height: 364px;
  }
}

.u-section-3 .u-text-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}.u-section-4 {
  background-image: none;
  min-height: 751px;
}

.u-section-4 .u-shape-1 {
  height: 459px;
  margin-top: 145px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 597px;
  min-height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -509px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 4.5rem;
  margin: 28px auto 0 10px;
}

.u-section-4 .u-form-1 {
  width: 510px;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-form-group-4 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-4 .u-list-1 {
  width: 459px;
  margin: -474px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-group-1 {
    width: 459px;
    min-height: 527px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-4 .u-form-1 {
    height: 371px;
    width: 395px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1063px;
  }

  .u-section-4 .u-shape-1 {
    height: 1003px;
    width: calc(((100% - 720px) / 2) + 484px);
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 566px;
    margin-top: -1037px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-4 .u-form-1 {
    width: 504px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 51px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1097px;
  }

  .u-section-4 .u-shape-1 {
    height: 962px;
    width: calc(((100% - 540px) / 2) + 484px);
    margin-top: 135px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 36px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-form-1 {
    width: 466px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1172px;
  }

  .u-section-4 .u-shape-1 {
    height: 1043px;
    width: calc(((100% - 340px) / 2) + 313px);
    margin-top: 129px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -1112px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-form-1 {
    width: 286px;
  }

  .u-section-4 .u-list-1 {
    width: 313px;
    margin-right: 77px;
    margin-bottom: 51px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }
}